$offset: 5rem;

.arrow {
  transform: rotate(90deg);
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .post {
    width: 75%;
  }

  .arrow {
    visibility: visible;
    font-size: 1.5rem;

    &.right {
      transform: rotate(80deg);
    }
    &.left {
      transform: rotate(120deg);
    }
  }

  @for $i from 0 through 2 {
    .post.level-#{$i} {
      margin-left: $offset * $i;
    }
  }
}
