.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  height: 50px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.menuItem > a {
  // padding: 1rem 2.5rem 1rem;
  cursor: pointer;
  font-size: 20px;
  color: #ffc107;

  &:hover {
    background-color: #78bdb7;
  }

  &.clicked {
    background-color: #78bdb7;
    color: white;
  }
}
